.imageupload {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
  }
  .imageupload__progress {
    width: 100%;
  }
  .imageupload__btn {
    background-color: rgb(173, 169, 169) !important;
    width: 50%;
    margin: 0 auto !important;
  }
  .imageupload__progress{
    padding: 5px;
  }
  .imageupload__caption {
    padding: 10px;
  }
  .imageupload__btn, .imageupload__progress, .imageupload__file, .imageupload__caption {
    margin: 2px 0;
  }