.suggested__avatar {
    width: 30px !important;
    height: 30px !important;
}
.user__avatar {
    width: 50px !important;
    height: 50px !important;
}
.sidebar__row1 {
    display: flex;
    align-items: center;
}
.row1__text, .row2__text {
    margin-left: .5em;
}
.sidebar__row2 {
    display: flex;
   flex-direction: column;

}
.sidebar__divs, .aside__link{
    margin: .5em 0;
}
.sidebar__divs-wrapper {
    display: flex;
    justify-content: space-between;
}
.sidebar__divs {
    display: flex;
    align-items: center;
}
.sidebar__row2_text {
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
}
.row2__text h4 {
    font-size: 14px;
}
.row2__text p {
    font-size: small;
    color: rgba(0, 0, 0, 0.432);
}
.aside__link{
    color: #3AACF7;
    cursor: pointer;
    font-size: 14px;
}
.sidebar__row2:first-child > p {
    color: #989898;
}
.div__links a {
    text-decoration: none;
}
.aside__helpLinks {
    display: flex;
    flex-wrap: wrap;
}
.aside__helpLinks a {
    text-decoration: none;
}
.aside__helpLink, .aside__footer {
    font-size: x-small;
    color: #D1D1D1;
}
.aside__helpLink {
    margin-left: .3em;
}
.aside__footer {
    margin-top: 2em;
}